<a href="https://colab.research.google.com/github/userdajheni/santander-datascience/blob/main/listas_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listas são coleções de objetos em python. Ao invés de declarar uma variável para cada valor que gostariamos de armazenar, podemos criar uma lista para armazenar vários valores.

In [ ]:
listavazia = []
print(listavazia)

[]

In [ ]:
numeros = [1,3,7,0,100]
print("Lista de numeros: ", numeros)

Lista de numeros:  [1, 3, 7, 0, 100]

In [ ]:
lista_mista = [14, "lets Code", 0.1, True]
print("Lista mista: ", lista_mista)

Lista mista:  [14, 'lets Code', 0.1, True]

Acessamos cada elemento da lista através de um indice entre colchetes. Os indices começam em 0 (zero)

In [ ]:
numeros = [1,3,7,0,100]
print("Elemento no indice zero: ", numeros[0])
print("Elemento no indice dois: ", numeros[2])
print("Elemento no indice quatro: ", numeros[4])

Elemento no indice zero:  1
Elemento no indice dois:  7
Elemento no indice quatro:  100

Também podemos alterar o valor dos elementos de uma lista:

In [ ]:
numeros = [1,3,7,0,100]
print(numeros[2])

numeros[2] = 5
print(numeros[2])

7
5

Um jeito inteligente de trabalhar com listas é utilizando loops

In [ ]:
numeros = [1,3,7,0,100, -4, 0, 65, 754, 2, 8755, 55]

indice = 0
while indice < 8:
  print(numeros[indice])
  indice = indice + 1

1
3
7
0
100
-4
0
65

In [ ]:
frutas = ["Pera", "uva", "maçã", "limão", "laranja", "carambola", "banana", "manga", "melancia"]
indice = 0

while indice < len(frutas):
  print(frutas[indice])
  indice = indice + 1

Pera
uva
maçã
limão
laranja
carambola
banana
manga
melancia

A função **len()** calcula o comprimento da lista

In [ ]:
frutas = ["Pera", "uva", "maçã", "limão", "laranja", "carambola", "banana", "manga", "melancia"]
indice = 5

while indice < len(frutas):
  print(frutas[indice])
  indice = indice + 1

carambola
banana
manga
melancia

A função **append()** coloca um elemento novo ao final da lista:

In [ ]:
lista_animais = []
resposta = "sim"

while resposta == "sim":
  resposta = input("Deseja adicionar um animal a lista? ")
  if resposta == "sim":
    animal = input("Digite o nome do animal: ")
    lista_animais.append(animal)
print(lista_animais)

Deseja adicionar um animal a lista? sim
Digite o nome do animal: leão
Deseja adicionar um animal a lista? sim
Digite o nome do animal: macaco
Deseja adicionar um animal a lista? sim
Digite o nome do animal: baleia
Deseja adicionar um animal a lista? nao
['leão', 'macaco', 'baleia']

A função **.remove()** deleta um elemento da lista:

In [ ]:
animal = input("Qual animal deseja remover? ")
lista_animais.remove(animal)
print(lista_animais)

Qual animal deseja remover? leão
['macaco', 'baleia']

A função **count()** conta quantas vezes um elemento aparece na lista

In [ ]:
jogadores = ["Ronaldo", "Murilo", "Marcelo", "Neymar", "Ronaldos", "Ronaldo", "Ronaldo Junior"]
quantidade = jogadores.count("Ronaldo")

print("Os jogadores são: ", jogadores)
print("Quantidade de vezes que RONALDO aparece: ", quantidade)

Os jogadores são:  ['Ronaldo', 'Murilo', 'Marcelo', 'Neymar', 'Ronaldos', 'Ronaldo', 'Ronaldo Junior']
Quantidade de vezes que RONALDO aparece:  2

A função **index()** busca um elemento e fala em qual posição ele aparece

In [ ]:
jogadores = ["Ronaldo", "Murilo", "Marcelo", "Neymar", "Ronaldos", "Ronaldo", "Ronaldo Junior", "Rivaldo", "Gabriel", "Marcos"]
procurar_elemento = jogadores.index("Rivaldo")
print("Rivaldo está na posição: ", procurar_elemento)

Rivaldo está na posição:  7

A função **sort()** ordena a lista em ordem alfabetica

In [ ]:
frutas = ["maçã", "pêra", "uva", "amora", "limão", "banana"]
frutas.sort()
print("Lista frutas em ordem alfabetica: ", frutas)

Lista frutas em ordem alfabetica:  ['amora', 'banana', 'limão', 'maçã', 'pêra', 'uva']

As funções **max()** e **min()** obtém, respectivamente, o maior e o menor valor

In [ ]:
digitos = [3,4,1,5,9,2,6,5]
maior = max(digitos)
menor = min(digitos)

print(digitos)
print("O maior valor é ", maior, " e o menor valor é ", menor)

[3, 4, 1, 5, 9, 2, 6, 5]
O maior valor é  9  e o menor valor é  1

Uma **tupla** é uma coleção de objetos que lembra muito as listas. Ao invés de colchetes [] usamos parenteses () para declarar as tuplas (ou sem parenteses também).

Para acessar um valoor, utilizamos a mesma sintaxe das listas, porém, as **tuplas são imutaveis**: não é possivel adicionar ou modificar valores.

In [ ]:
numeros = (1, 2, 3, 4, 5, 100)
objetos = "garfo", "faca", "cadeira", "controle remoto"

print("Isto é uma tupla:",numeros)
print("Isto é outra tupla:",objetos)

Isto é uma tupla: (1, 2, 3, 4, 5, 100)
Isto é outra tupla: ('garfo', 'faca', 'cadeira', 'controle remoto')

In [ ]:
print("Item da posição 4 da tupla numeros:",numeros[4])
print(type(numeros))

Item da posição 4 da tupla numeros: 5
<class 'tuple'>

Podemos gerar uma tupla a partir de uma lista e vice e versa:

In [ ]:
lista1 = [3, 4, 1, 5, 1, 100, 2]
tupla1 = tuple(lista1)
print("Esta e uma tupla a partir de uma lista:", tupla1)

tupla2 = "amora", 4, 100, "pão"
lista2 = list(tupla2)
print("Esta é uma lista a partir de uma tupla:", lista2)

Esta e uma tupla a partir de uma lista: (3, 4, 1, 5, 1, 100, 2)
Esta é uma lista a partir de uma tupla: ['amora', 4, 100, 'pão']

Outros exemplos

In [1]:
nome_paises = ["Brasil", "Argentina", "China", "Canadá", "japão"]
print(nome_paises)
print("Tamanho da lista: ", len(nome_paises))

['Brasil', 'Argentina', 'China', 'Canadá', 'japão']
Tamanho da lista:  5

In [2]:
print("País na posição 3: ", nome_paises[3])

País na posição 3:  Canadá

In [7]:
# indices negativos acessam de tras para frente, exemplo
print("País na posição 0: ", nome_paises[0])
print("País na posição 1: ", nome_paises[1])
print("País na posição 2: ", nome_paises[2])
print("País na posição 3: ", nome_paises[3])
print("País na posição 4: ", nome_paises[4])
print("")

# Fazendo o mesmo com indice negativo:
print("País na posição -1: ", nome_paises[-1])
print("País na posição -2: ", nome_paises[-2])
print("País na posição -3: ", nome_paises[-3])
print("País na posição -4: ", nome_paises[-4])
print("País na posição -5: ", nome_paises[-5])

País na posição 0:  Brasil
País na posição 1:  Argentina
País na posição 2:  China
País na posição 3:  Canadá
País na posição 4:  japão

País na posição -1:  japão
País na posição -2:  Canadá
País na posição -3:  China
País na posição -4:  Argentina
País na posição -5:  Brasil

In [14]:
# Acessar mais de um elemento da lista por vez
print(nome_paises[1:3]) #pega o elemento um até o dois, pois o 3 não entra
print(nome_paises[1:-1])
print(nome_paises[2:]) #vai do indice dois ate o final
print(nome_paises[:4]) #vai do inicio ate o indice 4

['Argentina', 'China']
['Argentina', 'China', 'Canadá']
['China', 'Canadá', 'japão']
['Brasil', 'Argentina', 'China', 'Canadá']

In [16]:
print(nome_paises[::2]) #pula de dois em dois
print(nome_paises[::-1]) #inverter lista

['Brasil', 'China', 'japão']
['japão', 'Canadá', 'China', 'Argentina', 'Brasil']

In [17]:
# Checar se existe o elemento na lista
print("Brasil" in nome_paises) #Brasil esta na lista?

True

In [19]:
print("Canadá" not in nome_paises)

False

In [21]:
lista_capitais = [] #lista vazia
lista_capitais.append("Brasilia") #adiciona ao final da lista
lista_capitais.append("Buenos Aires")
lista_capitais.append("Pequim")
lista_capitais.append("Bogota")
print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Pequim', 'Bogota']

In [22]:
lista_capitais.insert(2, "Paris") #Insere paris na posição dois
print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Paris', 'Pequim', 'Bogota']

In [23]:
lista_capitais.remove("Pequim") #remove da lista
print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Paris', 'Bogota']

In [24]:
lista_capitais.pop(0) # deleta um elemento da lista a partir da sua posição
print(lista_capitais)

['Buenos Aires', 'Paris', 'Bogota']

In [28]:
nomes_cidades = ("Barueri", "Carapicuiba", "Osasco", "Jandira", "Itapevi")
tupla_aleatoria = "Barueri", 22, 3.14, True, False, "Banana"

print(type(nomes_cidades))
print(type(tupla_aleatoria))

<class 'tuple'>
<class 'tuple'>

In [30]:
len(nomes_cidades)

5

In [31]:
len(tupla_aleatoria)

6

In [32]:
tupla_mista = "Banana", "Celular", 2021, True
fruta, objeto, ano, tem_cafe = tupla_mista
print("Fruta: ",fruta)
print("Objeto: ",objeto)
print("Ano: ",ano)
print("Tem cafe? ",tem_cafe)

Fruta:  Banana
Objeto:  Celular
Ano:  2021
Tem cafe?  True